<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Naël Juston{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicons/scroll.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div id='menuBar'>
                <a id='button' href='/'>{{'menu.tabs.home.label'|trans}}</a>
                <a id='button' href='/about'>{{'menu.tabs.about.label'|trans}}</a>
                <a id='button' href='/rubik'>{{'menu.tabs.rubik.label'|trans}}</a>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
